## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [1]:
import pandas as pd

In [2]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [6]:
sex_counts = data['sex'].value_counts()
sex_counts

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [7]:
average_men_age = data.loc[data['sex'] == 'Male', 'age'].mean()
average_men_age

39.43354749885268

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [8]:
us_percent = (data['native-country'] == 'United-States').mean() * 100
us_percent

89.5857006848684

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [9]:
age_stats = data.groupby('salary')['age'].agg(['mean','std'])
age_stats

             mean        std
salary
<=50K   36.783738  14.020088
>50K    44.249841  10.519028

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [11]:
higher_education = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
high_salary = data[data['salary'] == '>50K']
result = high_salary['education'].isin(higher_education).all()
result

False

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [14]:
age_stats_grouped = data.groupby(['race','sex'])['age'].describe()
print(age_stats_grouped)
max_age_asian_men = age_stats_grouped.loc[('Asian-Pac-Islander','Male'),'max']
print("\nMax age male Asian-Pac-Islander:\n", max_age_asian_men)

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

Max age male Asian-Pac-Islander:
 90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [22]:
married_statuses = ['Married-civ-spouse','Married-spouse-absent','Married-AF-spouse']
men = data[data['sex'] == 'Male']
men.loc[:, 'married'] = men['marital-status'].isin(married_statuses)
salary_by_marital = men.groupby('married')['salary'].apply(lambda x: (x=='>50K').mean() * 100)
salary_by_marital

married
False     8.449509
True     44.051399
Name: salary, dtype: float64

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [23]:
max_hours = data['hours-per-week'].max()
people_max_hours = data[data['hours-per-week'] == max_hours]
num_people_max_hours = len(people_max_hours)
rich_max_hours = (people_max_hours['salary'] == '>50K').mean() * 100
print("Максимальные часы в неделю:", max_hours)
print("Количество людей, работающих столько часов:", num_people_max_hours)
print("Процент зарабатывающих >50K среди них:", rich_max_hours)

Максимальные часы в неделю: 99
Количество людей, работающих столько часов: 85
Процент зарабатывающих >50K среди них: 29.411764705882355

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [26]:
hours_by_country_salary = data.groupby(['native-country','salary'])['hours-per-week'].mean()
hours_by_country_salary

native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [28]:
def age_group(age):
    if 16 <= age < 35:
        return 'young'
    elif 35 <= age < 70:
        return 'adult'
    elif 70 <= age <= 100:
        return 'retiree'
    else:
        return 'unknown'

data['AgeGroup'] = data['age'].apply(age_group)
data[['age','AgeGroup']]

       age AgeGroup
0       39    adult
1       50    adult
2       38    adult
3       53    adult
4       28    young
...    ...      ...
32556   27    young
32557   40    adult
32558   58    adult
32559   22    young
32560   52    adult

[32561 rows x 2 columns]

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [47]:
salary_by_agegroup = data[data['salary']=='>50K'].groupby('AgeGroup').size()
print(salary_by_agegroup)
most_rich_group = salary_by_agegroup.idxmax()
print("Самая высокооплачиваемая группа:", most_rich_group)

AgeGroup
adult      6240
retiree     113
young      1488
dtype: int64
Самая высокооплачиваемая группа: adult

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [46]:
grouped = data.groupby("occupation")

def filter_func(df):
    return (
        df["age"].mean() <= 40
        and (df["hours-per-week"] > 5).all()
    )

result = grouped.filter(filter_func).groupby("occupation").size()
print(result)

occupation
Armed-Forces    9
dtype: int64